bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.Q-Learning/.idea/.gitignore
/.idea/.idea.Q-Learning/.idea/encodings.xml
/.idea/.idea.Q-Learning/.idea/indexLayout.xml
/.idea/.idea.Q-Learning/.idea/vcs.xml
.vscode/launch.json
.vscode/tasks.json
